absl-py==1.0.0
astor==0.8.1
Box2D==2.3.10
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cloudpickle==2.0.0
cycler==0.11.0
Cython==0.29.24
docopt==0.6.2
fonttools==4.28.5
gast==0.2.2
glfw==2.4.0
google-pasta==0.2.0
grpcio==1.41.1
-e git+https://github.com/openai/gym@01cc8a3a1694c978a2310714faf52e41df1988b5#egg=gym
h5py==2.10.0
idna==3.3
imageio==2.10.4
importlib-metadata==4.8.2
importlib-resources==5.4.0
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
llvmlite==0.37.0
lockfile==0.12.2
Markdown==3.3.4
matplotlib==3.5.1
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
numba==0.54.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634106693478/work
opencv-python==4.5.4.58
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
Pillow==8.4.0
pipreqs==0.4.11
plyfile==0.7.4
-e git+https://github.com/fxia22/pointnet.pytorch@f0c2430b0b1529e3f76fb5d6cd6ca14be763d975#egg=pointnet
protobuf==3.19.1
psutil==5.9.0
pycparser==2.21
pyglet==1.5.21
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1635187050187/work
scipy==1.7.2
six @ file:///tmp/build/80754af9/six_1623709665295/work
tensorboard==1.15.0
tensorboardX==2.4.1
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
torch==1.10.0
tqdm==4.62.3
typing-extensions==4.0.0
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3
yarg==0.1.9
zipp==3.6.0
